body{
 background:url(b.jpg) no-repeat;
 background-size:cover;
 font-family:'Georgia';
 background-attachment:fixed;

 padding: 15px;
}

div.container-fluid{
   font-family:font-face;
   font-size:large;
  
 }
 .center
 {
  margin: auto;
  width: 70%;
  padding: 10px;
 }
